.formModuleStyles__container {
  margin: 20px 0px;
}
.formModuleStyles__image {
  width: auto;
  height: auto;
}
.formModuleStyles__grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.formModuleStyles__grid div img {
  margin-right: 20px;
}
.formModuleStyles__sectionContiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.formModuleStyles__link {
  width: 185px;
  height: 63px;
  background-color: #f4511e;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}
.formModuleStyles__link a {
  color: #fff;
}
.formModuleStyles__imageContainer {
  width: 600px;
  height: 400px;
  object-fit: cover;
}
.formModuleStyles__secondSection {
  display: flex;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin: 30px 0px;
}
.formModuleStyles__secondSection article,
.formModuleStyles__secondSection .formModuleStyles__imageContainer {
  flex: 1;
}
.formModuleStyles__secondSection article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.formModuleStyles__divSecondSection .formModuleStyles__divContainer,
.formModuleStyles__paraContainer {
  margin-left: 150px;
}
.formModuleStyles__userImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}
