.hero__Container {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../../images/pexels-binyamin-mellish-186077.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
}
.hero__Container__section_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.hero__Container h1 {
  font-size: 52px;
}
.hero__Container h1,
.hero__Container .hero__Container__divContainer {
  flex: 1;
}
.hero__Container__section_Container form {
  padding: 10px;
}
.hero__Container__section_Container form select {
  padding: 20px;
  border-radius: 5px;
}
.hero__Container__section_Container form button {
  background-color: #4285f4;
  color: white;
  padding: 22px 20px;
  border-radius: 5px;
}
